.chat-preview {
    cursor: pointer;
    display: flex;
    gap: var(--default-padding);
    align-items: center;
    height: 30px;
}

.chat-preview:hover {
    font-weight: bold;
    font-size: 0.9rem;
}

.chat-preview:hover .delete-chat-button {
    display: inline-block;
}

.delete-chat-button.submit-button {
    display: none;
    background-color: maroon;
    font-size: 0.7rem;
}

.delete-chat-button.submit-button:hover {
    background-color: rgba(128, 0, 0, 0.575);
}