.chat-window {
    border: 2px solid white;
    width: 100%;
}

.chat-window-header-container {
    display: flex;
    background-color: #34B297;
    justify-content: center;
    padding: var(--default-padding);
    box-shadow: 0 0px 10px rgba(95, 158, 160, 0.16);
}

.chat-window-header {
    text-align: center;
    width: 100%;
}
.chat-window-header-container:hover {
    cursor: pointer;
}


.message-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 25vh;
    min-height: 300px;
    gap: 10px;
    padding: 6px 10px;
}
