.chat-preview {
    cursor: pointer;
    display: flex;
    gap: var(--default-padding);
    align-items: center;
    height: 30px;
}

.chat-preview:hover {
    font-weight: bold;
    font-size: 0.9rem;
}

.chat-preview:hover .hover-toggle {
    opacity: 1;
}

.chat-preview:hover .hover-toggle:hover {
    opacity: 0.5;
}

.edit-button.hover-toggle {
    opacity: 0;
    transition: opacity 0.3s ease;
}