.comment-container {
    display: flex;
    gap: calc(var(--default-gap) / 4);
    align-items: first baseline;
    overflow-wrap: break-word;
    border-left: 1px solid gray
}

.hide-comment {
    visibility: hidden;
}

.minimize-button {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 20px;
    padding-left: 5px;
}