.create-chat-button {
    /* max-width: 10vw; */
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #3b82f6;
    transition: background-color 0.3s;
}

.create-chat-button:hover {
    background-color: #2563eb;
}