.follow-block {
    position: relative;
    display: grid;
    gap: calc(var(--default-gap));
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(75px, 100%/4)), 1fr));
}

.follow-user-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-username {
    text-align: center;
    overflow-x: hidden;
    max-width: 75px;
}