.user-profile-follow-button-container {
    max-width: 10vw;

    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: #3b82f6;
    transition: background-color 0.3s;
}

.user-profile-follow-button-container:hover {
    background-color: #2563eb;
}