.follow-block {
    position: relative;
    display: grid;
    gap: calc(var(--default-gap));
    text-align: center;
    grid-template-columns: repeat(auto-fit, min(100%/3, max(100px, 100%/5)));
}

.follow-user-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-username {
    text-align: center;
    overflow-x: hidden;
    max-width: 100%;
}