.follow-block {
    display: grid;
    gap: calc(var(--default-gap));
    text-align: center;
}

.follow-user-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-username {
    text-align: center;
    overflow-x: hidden;
}