.user-message {
    align-self: flex-end;
}

.user-message.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.system-message.message {
    align-self: center;
    color: gray;
}

.message {
    width: fit-content;
    max-width: 80%;
}

.message-content {
    background-color:blueviolet;
    border-radius: 1rem;
    padding: 6px 10px;
    width: fit-content;
}

.system-message .message-content {
    background-color: transparent;
}

.user-message > .message-subtext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: gray;
    font-size: .8rem;
}