nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    font-size: 2rem;
    gap: var(--default-gap);
}

.nav-links {
    display: flex;
    gap: calc(var(--default-gap) / 2);
}

.nav-links-item, .item-hovered {
    padding: 0px 4px;
    background-color: var(--main-bg-color);
}

.item-hovered, .nav-links-item:hover {
    opacity: 0.5;
}

.navbar-form {
    display: flex;
    gap: var(--default-gap);
    align-items: stretch;
    padding-left: 34px;
}

#searchVal {
    display: inline-flex;
    font-size: 1.5rem;
}

.nav-search { 
    height: 15px;
    width: 15px;
    background-color: var(--search-or-edit-btn-color);
    position: relative;
    top: 4px;
    right: 48px;
}

.icon-image {
    display: block;
}

@media screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
        width: 100%;
        padding: var(--default-padding);
    }

    .nav-links {
        width: 100%;
        justify-content: space-evenly;
    }
}