nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    font-size: 2rem;
    gap: var(--default-gap);
}

.nav-links {
    display: flex;
    gap: 8px;
}

.navbar-form {
    display: flex;
    gap: var(--default-gap);
    align-items: stretch;
}

#searchVal {
    display: inline-flex;
    font-size: 1.5rem;
}

.nav-search { 
    height: 15px;
    width: 15px;
    background-color: var(--search-or-edit-btn-color);
    position: relative;
    top: 4px;
    right: 48px;
}

.icon-image {
    display: block;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        width: 100%;
    }

    .nav-links {
        width: 100%;
        justify-content: space-evenly;
    }
}