.post-header {
    display: flex;
    gap: var(--default-gap);
    padding-bottom: calc(var(--default-gap) / 2);
}

.post-header.user-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.post-header.top-line {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.post-header.author {
    font-weight: bold;
}