.user-profile-chats-header-container {
    display: flex;
    gap: 2px;
    align-items: flex-start;
}

.chat-preview-container {
    display: flex;
    max-width: 95%;
    flex-direction: column;
    gap: calc(var(--default-gap) / 5);
}