.user-profile-bio-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-gap) / 5);
}

.user-profile-bio-header-container {
    display: flex;
    gap: 2px;
    align-items: center;
}

.user-profile-bio-form.active-edit {
    display: flex;
    gap: 2px;
    align-items: center;
}

.edit-bio {
    background-color: var(--search-or-edit-btn-color);
}