.user-profile-bio-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-gap) / 5);
}

.user-profile-bio-header-container {
    display: flex;
    gap: 2px;
    align-items: center;
}

.active-edit {
    display: flex;
    gap: 2px;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .user-profile-bio-header-container {
        justify-content: center;
    }

    .user-profile-bio-container {
        text-align: justify;
    }

    .user-profile-bio {
        padding: 0px 30px;
    }
}