.user-posts-header-container {
    display: flex;
    gap: 2px;
    align-items: center;
}

.posts-content-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
    position: relative;
}

.load-more-button, .done-loading-msg {
    color: grey;
    align-self: center;
}

.load-more-button {
    position: relative;
    text-decoration: underline;
}

.posts-section-container {
    min-width: 0;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .posts-section-container {
        min-width: 0;
        max-width: 100%;
    }

    .posts-content-container {
        padding: 0 20px;
    }

    .user-posts-header-container {
        justify-content: center;
    }
}