.blur {
    filter: blur(3.5px);
}

.user-profile-img-container {
    /* display: flex; */
    position: relative;
    max-width: 300px; /* Set a maximum width for the container */
}

.user-profile-img-container > .search-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.user-profile-img {
    display: block; /* Prevent extra space below the image */
    border-radius: 50%;
}
