.profile-page-container, 
.profile-page-left-container, 
.profile-page-right-container {
    display: flex;
    gap: calc(var(--default-gap) * 2);
}

.profile-page-container {
    width: 100%;
    padding: var(--default-padding);
}

.profile-page-left-container, .profile-page-right-container {
    flex-direction: column;
    gap: var(--default-gap);
}

.profile-page-left-container {
    width: 50%;
}

.profile-page-right-container {
    width: 40%;
}

.profile-footer {
    display: none;
}

@media screen and (max-width: 1000px) {
    .profile-page-container, 
    .profile-page-left-container, 
    .profile-page-right-container {
        display: flex;
        gap: calc(var(--default-gap) * 5);
        width: 100%;
    }

    .profile-page-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .profile-page-left-container, .profile-page-right-container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        padding-bottom: 60px;
    }

    .profile-page-left-container {
        /* max-height: 100vh;
        overflow-y: scroll; */
    }

    .profile-page-right-container {
        display: none;
    }

    .profile-footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--main-bg-color);
        border-top: 1px solid rgb(82, 124, 78);
        padding: 10px 0px;
    }
}

