.profile-page-container, 
.profile-page-left-container, 
.profile-page-right-container {
    display: flex;
    gap: 10px;
}

.profile-page-container {
    width: 100%;
    padding: var(--default-padding);
}

.profile-page-left-container, .profile-page-right-container {
    flex-direction: column;
}

.profile-page-left-container {
    width: 60%;
}

.profile-page-right-container {
    width: auto;
}

