.profile-page-container, 
.profile-page-left-container, 
.profile-page-right-container {
    display: flex;
    gap: 10px;
}

.profile-page-container {
    width: 100%
}

.profile-page-left-container, .profile-page-right-container {
    flex-direction: column;
}

.profile-page-left-container {
    width: 66vw;
}

.profile-page-right-container {
    width: auto;
}


/* .user-profile-img-container {
    grid-column: 1 / 3;
    grid-row: 1;
}

.user-profile-name-container {
    grid-column: 1;
    grid-row: 2;
}

.user-profile-follow-button-container {
    grid-column: 2;
    grid-row: 2;
}

.user-profile-bio-container {
    grid-column: 1 / 3;
    grid-row: 3;
}

.user-profile-following-container {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.user-profile-follower-container {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.user-profile-chat-container {
    grid-column: 1 / 3;
    grid-row: 4;
} */